body
  margin: 0

h1
  background: #0ac5f4
  color: #fff
  font-family: "Lato", sans-serif
  font-weight: 100
  letter-spacing: -2px
  margin-top: 0
  padding: 10px 20px 12px
  text-align: right

#wrapper
  margin: 0 auto
  width: 960px

#custom
  width: 350px
  min-wdith: 350px
  margin-right: 0px
  float: left

#viewer
  width: 600px
  float: left

input[type=range]
  -webkit-appearance: none
  background-color: #cecece
  width: 200px
  height: 20px

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance: none
  background-color: #666
  opacity: 0.5
  width: 10px
  height: 26px

.opt
  clear: both
  margin: 0 0 50px

.title
  font-family: sans-serif
  width: 70px
  text-align: right

.pre, .post
  color: #aeadae
  display: inline

.pre
  float: left
  width: 70px
  text-align: right
  margin-right: 5px
  margin-top: 4px

.slider
  float: left

.post
  margin-left: 5px
